
<html>

<head>
  <title>CourseProjectFtfariasSizanni</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="text-center page-background">

<form class="form-signin">
  <header>
    <h1>
      Teemo Events
    </h1>
  </header>
  <h1 class="h3 mb-3 font-weight-normal">Please Sign In</h1>
  <label for="Email" class="sr-only">Email/Username</label>
  <input type="text" id="Email" class="form-control" placeholder="Email/Username" required autofocus>
  <label for="Password" class="sr-only">Password</label>
  <input type="password" id="Password" class="form-control" placeholder="Password" required>
  <div class="checkbox mb-3">
    <label><input type="checkbox" value="remember-me"> Remember Me</label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">
    <%= link_to "Login" , root_path, class: "text-light"%>
  </button>
</form>
</body>

