<div class="ml-0 mt-3 text-center">
  <h5>Edit Comment</h5>
</div>
<div>
  <%= form_with model: @comment, local: true do |form| %>
    <%= errors_for @comment%>
    <div class="container emp-profile">
      <form method="post">
        <div class="col-md-3 mx-auto">
          <div class="profile-head">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item ">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Comment</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 pt-5 ml-3">
            <div class="profile-work">
            </div>
          </div>
          <div class="col-md-7">
            <div class="tab-content profile-tab" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="pt-2">
                  <div class="col-md-3">
                    <div class="form-group pt-1">
                      <%= form.label :message%>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <%= form.text_area :message, class: "form-control" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="form-group mt-2 text-center">
        <%= form.submit "Add Comment", class: ["btn", "btn-primary"] %>
        <%= link_to "Back", :back, class: ["btn", "btn-secondary"] %>
      </div>
    </div>
  <% end %>
</div>