<div class="text-center">
  <h3 class="big_title">Users</h3>

  <a class="big_title badge badge-pill bg-primary text-light mb-4" <%= link_to "Create New User",new_user_path %></a>
  <% @users.each do |user| %>
    <div class="card mb-4 shadow-sm mx-auto w-50">
      <div class="card-header">
        <h3 id="user_org"><%= user.username %></h3>
      </div>
      <% if user.avatar.attached? %>
        <%= link_to image_tag(user.avatar, class: "card-img-top", height: "318.75px" ,background: "#55595c", color: "#eceeef"), url_for(user) %>
      <% else %>
        <%=link_to image_tag("thumbnail.svg", class: "card-img-top", background:"#55595c", color: "#eceeef") , url_for(user)%>
      <% end %>
      <div class="card-body">
        <p class="card-text">Full Name: <%= user.name%> <%=user.lastname %></p>
        <p class="card-text"><i class="fas fa-info-circle mr-1 fa-lg"> </i> <%= user.bio %></p>
        <button type="button" class="btn btn-sm btn-outline-secondary"> <%= link_to "See user" , user%></button>
      </div>
    </div>
  <% end %>
</div>
