<div>
  <%= form_with model: event, local: true do |form| %>
    <%= errors_for event%>
    <div class="container emp-profile">
      <form method="post">
        <div  id=profile_row class="row m-0 p-0">
          <div class="col-md-4 ml-0">
            <div class="profile-img ">
              <% if @event.event_picture.attached? %>
                <%= image_tag(@event.event_picture, class: "card-img-top", height: "150px", background: "#55595c", color: "#eceeef")%>
              <% else %>
                <%=image_tag("thumbnail.svg", class: "card-img-top", height: "150px", background:"#55595c", color: "#eceeef") %>
              <% end %>
              <div class=" form-group m-0 p-0">
                <%= form.file_field :picture, class: " file btn form-control-file" %>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="profile-head">
              <div>
                <h6>
                  <div class="form-group">
                    <i class="fas fa-info-circle"> </i>
                    <%= form.label :name%>
                    <%= form.text_field :name , class: "form-control"%>
                  </div>
                </h6>
              </div>
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item ">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="profile-head">
              <div>
                <h6>
                  <div class="form-group">
                    <i class="fas fa-location-arrow"> </i>
                    <%= form.label :location%>
                    <%= form.text_field :location , class: "form-control"%>
                  </div>
                </h6>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-4 pt-5 ml-3">
            <div class="profile-work">
            </div>
          </div>

          <div class="col-md-7">
            <div class="tab-content profile-tab" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row pt-2">
                  <div class="col-md-3">
                    <div class="form-group pt-1">
                      <%= form.label :description%>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <%= form.text_area :description, class: "form-control" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="form-group mt-2 text-center">
        <%= form.submit submit_btn_text, class: ["btn", "btn-primary"] %>
        <%= link_to "Back", :back, class: ["btn", "btn-secondary"] %>
      </div>
    </div>
  <% end %>
</div>