<div>
  <%= form_with model: event, local: true do |form| %>
    <%= errors_for event%>
    <% if  event.event_creator_id == nil %>
      <%= form.hidden_field :event_creator_id , value: 1%>
    <%end %>

    <% if event.organization_id == nil %>
    <%= form.hidden_field :organization_id , value: 1%>
      <%end %>

    <div class="container emp-profile">
      <form method="post">
        <div  id=profile_row class="row m-0 p-0">
          <div class="col-md-4 ml-0">
            <div class="profile-img ">
              <% if @event.event_picture.attached? %>
                <%= image_tag(@event.event_picture, class: "card-img-top", height: "150px", background: "#55595c", color: "#eceeef")%>
              <% else %>
                <%=image_tag("thumbnail.svg", class: "card-img-top", height: "150px", background:"#55595c", color: "#eceeef") %>
              <% end %>
              <div class=" form-group m-0 p-0">
                <%= form.file_field :event_picture, class: " file btn form-control-file" %>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="profile-head">
              <div>
                <h6>
                  <div class="form-group">
                    <i class="fas fa-info-circle"> </i>
                    <%= form.label :name%>
                    <%= form.text_field :name , class: "form-control"%>
                  </div>
                </h6>
              </div>
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item ">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#startdateoptions" role="tab" aria-controls="profile" aria-selected="false">Date Options</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="profile-head">
              <div>
                <h6>
                  <div class="form-group">
                    <i class="fas fa-location-arrow"> </i>
                    <%= form.label :location%>
                    <%= form.text_field :location , class: "form-control"%>
                  </div>
                </h6>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-4 pt-5 ml-3">
            <div class="profile-work">
            </div>
          </div>

          <div class="col-md-7">
            <div class="tab-content profile-tab" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row pt-2">
                  <div class="col-md-3">
                    <div class="form-group pt-1">
                      <%= form.label :description%>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <%= form.text_area :description, class: "form-control" %>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="startdateoptions" role="tabpanel" aria-labelledby="profile-tab">

                <% if @event.start_date_options.any? == true %>
                  <%= form.fields_for :start_date_options do |option| %>
                    <div class="row mb-3 mt-3">
                      <div class="text-center">
                        <p class="ml-3">Edit date option <%= option.index() +1 %></p>
                        <%= option.datetime_field :possiblestartdate , class: "form-control" %>
                      </div>
                    </div>
                    <%end %>
                  <%else %>
                  <%= form.fields_for :start_date_option do |option| %>
                    <div class="row mb-3 mt-3">
                      <div class="text-center">
                        <p class="ml-3">Create date option 1</p>
                        <%= option.datetime_field :possiblestartdate , class: "form-control" %>
                      </div>
                    </div>
                    <div class="row mb-3 mt-3">
                      <div class="text-center">
                        <p class="ml-3">Create date option 2</p>
                        <%= option.datetime_field :possiblestartdate , class: "form-control" %>
                      </div>
                    </div>
                  <%end %>
                  <%end %>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="form-group mt-2 text-center">
        <%= form.submit submit_btn_text, class: ["btn", "btn-primary"] %>
        <%= link_to "Back", :back, class: ["btn", "btn-secondary"] %>
      </div>
    </div>
  <% end %>
</div>