<p id="notice"><%= notice %></p>

<h1 id="event_org">Events</h1>

<% @events.each do |event| %>
  <div id="event_org">
    <h3 id="event_org"><%= event.name %></h3>
    <p>Description: <%= event.description%></p>
    <p><i><%=image_tag("location.png",:alt => "Location", :width => 15,:height => 20) %></i> <%= event.location %></p>
    <button class="button"> <%= link_to "See event" , event%></button>
  </div>
<% end %>

<br>

