<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <% if @event.event_picture.attached? %>
            <%= image_tag(@event.event_picture, class: "card-img-top", height: "150px", background: "#55595c", color: "#eceeef")%>
          <% else %>
            <%=image_tag("thumbnail.svg", class: "card-img-top", height: "150px", background:"#55595c", color: "#eceeef") %>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h4>
            <%= @event.name%>
          </h4>
          <h6>
            <i class="fas fa-location-arrow mr-1 fa-lg"> </i> <%= @event.location %>
          </h6>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Guests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="profile" aria-selected="false">Comments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#start_date_options" role="tab" aria-controls="profile" aria-selected="false">Date Options</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="row">
          <%= link_to "Edit Event", edit_event_path , class: "profile-edit-btn mr-1 text-info"%>
        </div>
        <div class="row">
          <%= link_to 'Delete Event', event_path(@event), method: :delete, data: { confirm: 'Are you sure?' } , class: "profile-edit-btn mt-1 text-danger"%>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTa=bContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-6">
                <p><%= @event.description %></p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
              <% @event.event_guests.each do |guest| %>
                <div class="col-md-10">
                  <p> <i class="fas fa-user mr-1 text-dark"></i><%= link_to guest.user.username , guest.user %></p>
                </div>
              <% end %>
            </div>
          </div>
          <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
              <button class="comment-create page-background ml-4"><%= link_to "Create Comment", new_comment_path(event_id:@event.id) , class: "comment-create mr-1 text-info"%></button>
              <% @event_comments.each do |comment| %>
                <% @replies = comment.replies %>
                <div class="col-md-10">
                  <div class="container">
                    <div class="card">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-2">
                            <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
                          </div>
                          <div class="col-md-10">
                            <p><u><%= link_to comment.event_guest.user.username, comment.event_guest.user %></u></p>
                            <div class="clearfix"></div>
                            <p><%= comment.message %></p>
                            <p class="text-secondary text-center small"><%= comment.created_at %></p>
                            <p>
                              <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>
                            </p>
                          </div>
                          <button class="comment-create page-background mb-0"><%= link_to "Edit Comment", edit_comment_path(event_id:@event.id) , class: "comment-create mr-1 text-info"%></button>
                          <button class="comment-delete page-background mb-0"><%= link_to 'Delete Comment', comment_path(comment), method: :delete, class: "text-danger",data: { confirm: 'Are you sure?' } %> </button>
                        </div>
                        <% @replies.each do |reply| %>
                          <div class="card card-inner">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-md-2">
                                  <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
                                </div>
                                <div class="col-md-10">
                                  <p><u><%= link_to reply.event_guest.user.username, reply.event_guest.user%></u></p>
                                  <p><%= reply.message %></p>
                                  <p class="text-secondary text-center small"><%= reply.created_at %></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="tab-pane fade" id="start_date_options" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
              <% @event.start_date_options.each do |option| %>
                <div class="col-md-10">
                  <p> <i class="fas fa-calendar-alt mr-1 text-dark"></i><%= option.possiblestartdate%></p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

