<p id="notice"><%= notice %></p>

<div>
    <section>
      <h3>Your Upcoming Events</h3>


      <% @upcoming_events.each do |upcoming_event| %>
        <div class>
          <h4><%= upcoming_event.name %></h4>
          <p> Description: <%= upcoming_event.description%></p>
          <p> <i><%=image_tag("location.png",:alt => "Location", :width => 15,:height => 20) %></i><%=upcoming_event.location %></p>
          <button> <%= link_to "See event" , upcoming_event%></button>
        </div>
      <% end %>
    </section>

    <section>
      <h3>Your Organizations</h3>
      <% @user_organizations.each do |organization| %>
        <div>
          <h4><%=  link_to organization.name , organization%></h4>
          <p>Description: <%= organization.description%></p>
          <p> <i><%=image_tag("multiple-users-silhouette.png",:alt => "users", :width => 30,:height => 25) %></i><%= organization.users.count %></p>
          <button> <%= link_to "See organization" , organization%></button>
        </div>
      <% end %>
    </section>
</div>
