<head>
  <%= stylesheet_link_tag 'pages', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>


<body>
<div class="center-div">
    <section id="events">
      <h3>Your Upcoming Events</h3>


      <% @upcoming_events.each do |upcoming_event| %>
        <div class>
          <h4><%= upcoming_event.name %></h4>
          <p> Description: <%= upcoming_event.description%></p>
          <button> <%= link_to "See event" , upcoming_event%></button>
        </div>
      <% end %>
    </section>

    <section id="organizations">
      <h3>Your Organizations</h3>
      <% @user_organizations.each do |organization| %>
        <div>
          <h4><%=  link_to organization.name , organization%></h4>
          <p><%= organization.description%></p>

        </div>
      <% end %>

    </section>
  </div>
</body>