<p id="notice"><%= notice %></p>

<h1>Start Date Polls</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @start_date_polls.each do |start_date_poll| %>
      <tr>
        <td><%= link_to 'Show', start_date_poll %></td>
        <td><%= link_to 'Edit', edit_start_date_poll_path(start_date_poll) %></td>
        <td><%= link_to 'Destroy', start_date_poll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Start Date Poll', new_start_date_poll_path %>
