<p id="notice"><%= notice %></p>

<div id="mailbox">
  <h2>Inbox</h2>

  <% @invitations.each do |invitation| %>
    <div id="invitation">
      <%= image_tag("mail.png", :alt => "mail", :width => 45, :height => 45) %>
      <p id="sender"><%=  link_to invitation.event.event_creator.user.user_profile.username , invitation.event.event_creator.user.user_profile %></p>
      <p><%= invitation.message %> <%=invitation.event.name %></p>
      <p> <%= link_to "Accept Invitation" , invitation.event%></p>
    </div>
  <% end %>
</div>