<div class="ml-0 mt-3 text-center">
  <h2>New Organization Report</h2>
</div>

<div>
  <%= form_with model: @organization_report, local: true do |form| %>
    <%= errors_for @organization_report%>
    <%= form.hidden_field :organization_id , value: @organization.id%>
    <%= form.hidden_field :user_id, value: current_user.id %>

    <div class="container emp-profile2">
      <form method="post">
        <div  id=profile_row class="row">
          <div class="col-md-3 mx-auto">
            <div class="profile-head">
              <%= form.label :message %>
              <%= form.text_area :message,class: "form-control"%>
            </div>
          </div>
        </div>
      </form>
      <div class="form-group mt-2 text-center">
        <%= form.submit "Send Report", class: ["btn", "btn-primary"] %>
        <%= link_to "Back", :back, class: ["btn", "btn-secondary"] %>
      </div>
    </div>
  <% end %>
</div>