<p id="notice"><%= notice %></p>

<h1 id="event_org">Organizations</h1>

<% @organizations.each do |organization| %>
  <div id="event_org">
    <h3 id="event_org"><%= organization.name %></h3>
    <p><%= organization.description%></p>
    <p><i><%=image_tag("multiple-users-silhouette.png",:alt => "users", :width => 30,:height => 25) %></i> <%= organization.users.count%></p>
    <button class="button"> <%= link_to "See organization" , organization%></button>
  </div>
<% end %>
<br>

