<p id="notice"><%= notice %></p>

<div id="org_banner">
  <p> <%= @organization.bannerpicture %></p>
</div>

<h2 id="organization">
  <%= @organization.name%>
</h2>

<div id="img_org">
  <p> <%= @organization.picture %></p>
</div>

<div id="org_desc">
  <h4 id="org_events">Description:</h4>
  <div id="o_members">
    <p> <%= @organization.description %></p>
  </div>
</div>

<div id="org_members">
  <h4 id="organization_members_title"> <%= @organization.name %> Members:</h4>
  <div id="o_members">
    <% @members.each do |member|%>
      <p> <%= link_to member.user_profile.username , member.user_profile %></p>
    <% end %>
  </div>
</div>

<h4 id="organizationEvents"> <%= @organization.name %> Events</h4>
<% @organization_events.each do |event|%>
  <div id="org_e">
    <h4 id="org_events"><%= link_to event.name, event %>:</h4>
    <div id="o_members">
      <p>Description: <%=event.description %></p>
    </div>
    <p><i><%=image_tag("location.png",:alt => "Location", :width => 15,:height => 20) %></i> <%= event.location %></p>
    <aside id="org_event">
      <p><%= event.picture %></p>
    </aside>
  </div>
<% end %>



<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
