<div>
  <% if @organization.banner_picture.attached? %>
    <%= image_tag(@organization.banner_picture, class: "card-img-top", width: "100%", height: "200px", background: "#55595c", color: "#eceeef")%>
  <% else %>
    <%= image_tag("thumbnail.svg", class: "card-img-top", height: "200px", width: "100%", background:"#55595c", color: "#eceeef") %>
  <% end %>
</div>
<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <% if @organization.org_picture.attached? %>
            <%= link_to image_tag(@organization.org_picture, class: "card-img-top", height: "150px", background: "#55595c", color: "#eceeef")%>
          <% else %>
            <%= link_to image_tag("thumbnail.svg", class: "card-img-top", height: "150px", background:"#55595c", color: "#eceeef") %>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h4>
            <%= @organization.name%>
          </h4>
          <h6>
            <i class="fas fa-users mr-1 fa-lg text-dark"> </i><%= @organization.users.count %>
          </h6>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Members</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#events" role="tab" aria-controls="profile" aria-selected="false">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#attachments" role="tab" aria-controls="profile" aria-selected="false">Attachments</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <%if user_signed_in? %>
        <% if @organization.organization_administrator.user_id == current_user.id %>
        <div class="row">
          <%= link_to "Edit Organization", edit_organization_path , class: "profile-edit-btn mr-1 text-info"%>
        </div>
        <div class="row">
          <%= link_to 'Delete Organization', organization_path(@organization.id), method: :delete, data: { confirm: 'Are you sure?' } , class: "profile-edit-btn mt-1 pr-0 text-danger"%>
        </div>
          <% else %>
            <div class="row">
              <%= link_to 'Report Organization', new_organization_report_path(organization_id:@organization.id), class: "profile-edit-btn mt-1 pr-0 text-danger"%>
            </div>
          <%end %>
        <% elsif admin_signed_in? %>
            <div class="row">
              <%= link_to "Edit Organization", edit_organization_path , class: "profile-edit-btn mr-1 text-info"%>
            </div>
            <div class="row">
              <%= link_to 'Delete Organization', organization_path(@organization.id), method: :delete, data: { confirm: 'Are you sure?' } , class: "profile-edit-btn mt-1 pr-0 text-danger"%>
            </div>
        <%end %>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-6">
                <p> <%= @organization.description %></p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
              <% @members.each do |member|%>
                <div class="col-md-10">
                  <p> <i class="fas fa-user mr-1 text-dark"></i><%= link_to member.username , member %></p>
                </div>
              <% end %>
            </div>
          </div>
          <div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="profile-tab">
            <%if user_signed_in? %>
            <% if @organization.id == current_user.organization_id %>
            <h6 class="mb-2">These are all the events of this organization </h6>
              <%else %>
              <h6 class="mb-2">These are the public events of this organization </h6>
              <%end %>
            <div class="row">
              <div class="text-center">
                <% @organization_events.each do |event|%>
                  <% if @organization.id == current_user.organization_id %>
                    <div class="col-md-14">
                      <div class="card mb-4 shadow-sm mx-auto">
                        <div class="card-header">
                          <h3 id="event_org"><%= event.name %></h3>
                        </div>
                        <div class="card-body">
                          <p class="card-text">Description: <%= event.description%></p>
                          <p class="card-text"> <i class="fas fa-location-arrow mr-1 fa-lg text-dark"></i> <%= event.location %></p>
                          <button type="button" class="btn btn-sm btn-outline-secondary"> <%= link_to "See event" , event%></button>
                        </div>
                      </div>
                    </div>
                  <% else %>
                    <% if event.publicEvent == true %>
                    <div class="col-md-14">
                      <div class="card mb-4 shadow-sm mx-auto">
                        <div class="card-header">
                          <h3 id="event_org"><%= event.name %></h3>
                        </div>
                        <div class="card-body">
                          <p class="card-text">Description: <%= event.description%></p>
                          <p class="card-text"> <i class="fas fa-location-arrow mr-1 fa-lg text-dark"></i> <%= event.location %></p>
                          <button type="button" class="btn btn-sm btn-outline-secondary"> <%= link_to "See event" , event%></button>
                        </div>
                      </div>
                    </div>
                    <% end %>
                  <%end %>
                <% end %>
            <% elsif admin_signed_in?%>
              <h6 class="mb-2">These are all the events of this organization </h6>
            <div class="row">
              <div class="text-center">
                <% @organization_events.each do |event|%>
                    <div class="col-md-14">
                      <div class="card mb-4 shadow-sm mx-auto">
                        <div class="card-header">
                          <h3 id="event_org"><%= event.name %></h3>
                        </div>
                        <div class="card-body">
                          <p class="card-text">Description: <%= event.description%></p>
                          <p class="card-text"> <i class="fas fa-location-arrow mr-1 fa-lg text-dark"></i> <%= event.location %></p>
                          <button type="button" class="btn btn-sm btn-outline-secondary"> <%= link_to "See event" , event%></button>
                        </div>
                      </div>
                    </div>
                  <%end %>
            <%end %>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="attachments" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
              <div class="card ml-4 mb-3 ">
                <div class="card-header">
                  <h3>PDF attachments</h3>
                </div>
                <div class="card-body">
                  <% if @organization.pdf.attached? %>

                    <% @organization.pdf.each do |pdf| %>
                      <div class="mb-3">
                        <%= link_to pdf.blob.filename, url_for(pdf), class: "text-info" %>
                      </div>
                    <%end %>
                  <% else %>
                    <p class="ml-3">This organizations hasn't any pdf attachments yet</p>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="card ml-4 mb-3 ">
                <div class="card-header">
                  <h3>Photo attachments</h3>
                </div>
                <div class="card-body">
                  <% if @organization.pictures.attached? %>

                    <% @organization.pictures.each do |picture| %>
                      <div class="mb-3">
                        <%= link_to image_tag(picture, class: "card-img-top", height: "150px", background: "#55595c", color: "#eceeef")%>
                      </div>
                    <%end %>
                  <% else %>
                    <p class="ml-3">This organizations hasn't any photos attachments yet</p>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="card ml-4 mb-3 ">
                <div class="card-header">
                  <h3>Video attachments</h3>
                </div>
                <div class="card-body">
                  <% if @organization.videos.attached? %>

                    <% @organization.videos.each do |video| %>
                      <div class="mb-3">
                        <%= link_to video.blob.filename, url_for(video), class: "text-info" %>
                      </div>
                    <%end %>
                  <% else %>
                    <p class="ml-3">This organizations hasn't any video attachments yet</p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>
    </div>
  </form>
</div>