<!DOCTYPE html>
<html>

  <head>
    <title>CourseProjectFtfariasSizanni</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header id="application">
    <h1>
      Teemo Events

    </h1>


  </header>

  <nav>
    <ul id="navbar">
      <li><a href="/events">Events</a> </li>
      <li><a href="/organizations">Organizations</a> </li>
      <li><a href="/user_profiles/1">Your Profile</a> </li>
      <li><a href="/mailboxes/1">Mailbox</a> </li>
      <li id="data"><%= link_to "Logout", "/logout"  %></li>
      <li id="data"><%= link_to @userProfile.username , "/user_profiles/1"%></li>
      <li id="data"><i><%= image_tag("usericon.png", :alt => "usericon", :width => 25, :height => 25) %></i> </li>
    </ul>

  </nav>

  <div>

    <main>
      <%= yield %>
    </main>
  </div>

  <%= link_to "Home", root_path %>
  </body>

  <footer>
    <h4>Contact Information</h4>
    <p>teemoevents@gmail.com</p>
  </footer>



</html>
